@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gugi&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle&family=Gugi&family=Song+Myung&display=swap');
h2{
    color:burlywood;
}
#top{
    display:grid;
    grid-template-columns: 4fr 7fr 4fr;
    height:10vw;
    min-height:10vw;
    
    border-bottom: solid gray 1px;
    padding-bottom : 10px;
}
#top img{
    margin-left: auto;
    margin-right: auto;
    height:100%;
    object-fit:contain;

}
#top input{
    height: 80%;
    width: 95%;

    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
    
    text-align:center;
    background-color:rgb(250,250,250);
    border:solid gray 1px;
    border-radius:3px;

    font-size:3vw;

}
#top div{
    text-align:center;
    padding-top:2px;
}
#profile{
    display:grid;
    grid-template-columns: 1fr 4fr;
    height : 15vw;
    padding-top:10px;
    margin-top: 20px;
    font-family: 'Black Han Sans', sans-serif;
    
    
}
#profile_info{
    display:grid;
    grid-template-rows:1fr 1fr;
    width:30vw;
    height:15vw;
    margin-top:10px;
    font-size: 3vw;
    
    
}
.profile_pic{
   
    width:15vw;
    height:15vw;
}

#intro{
    font-size:2vw;
}

button{
    height:80%;
    width:95%;
    font-size:2vw;
    background-color:white;
    border:solid gray 1px;
    border-radius:30px;

}
#highlight_area{
    display:grid;
    grid-template-columns: 12vw 12vw 1fr;
}
.highlight{
   text-align:center;

}
.highlight_pic{
    margin-left:auto;
    margin-right:auto;
    width:10vw;
    height:10vw;
}



.circle_img{
   width:100%;
   height:100%;
   object-fit:cover; 
   border:solid white 1px;
   border-radius:50%; 
   
  
   
}
#post{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    padding-top: 5px;
    height:6vw;
    
    color:cadetblue;
    font-weight:bold;
    font-size:2vw;
    text-align: center;
    border-top:1px solid green;
    border-bottom:1px solid green;
    margin-top:20px;
    margin-bottom:20px ;
}
.stat{
    display:grid;
    grid-template-rows:1fr 1fr ;
 
    
    
}



#icons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align:center;
    font-size:15px;
    height:30px;
    margin-bottom: 10px;
}
.selected{
    border-bottom:solid gray 3px;
}
.thumb{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.nail{
    width:100%;
}